
 
.encabezadohome { 

    text-align: center;
    background-color: black;
}

.body {

    background-color:black;
}


.pop{
    margin-top: 0px;
    display: flex;
    flex-direction:  row;
    height: 270px;  
    width: 100px;
   
    }


    .pop2{
        
        margin-top: 0px;
        display: flex;
        flex-direction:  row;
        height: 300px;  
        width: 100px;
        



    }
    .detalle{
        list-style: none;
        
        }
    
    .canciones{
        text-align: center;
        width: 380px;
    
        display: flex;
        align-items: center;
    
        border-radius: 50px;
        padding: 5px;
        background-color: black;
        border: 5px rgb(90, 8, 90) solid;
        text-transform: uppercase;
        outline: none;
        justify-content: space-around;
    
    
    }
    h1{
        color: rgb(155, 155, 155);
        margin-top: 20px;
        font-family: 'Bebas Neue', cursive;
    
    }
    .tituloname{
        color: white;
        font-weight: bold;
        font-family: 'Bebas Neue', cursive;
        font-size: 20px;
        
    }
    .fechapeli{
        color: rgb(139, 136, 136);
        font-size: small;
        font-family: 'Bebas Neue', cursive;
        font-size: 15px;


    }
    ;

    .botonpopulares{
        display: flex;
        justify-content: left;
        margin-top: 140px;

    }

    .saltopagina1{
        text-align: center;
        font-size: 25px;
        margin-top: 30px;
        margin-bottom: 30px;
        color: rgb(104, 104, 104);
        width: 200px;
        text-align: center;
        font-size: 25px;
        margin-top: 30px;
        margin-bottom: 30px;
        color: rgb(104, 104, 104);
        background-image: linear-gradient(red, blue);
        background-size: 0% 3px;
        background-repeat: no-repeat;
        background-position: bottom;
        transition: 300ms ease;
       text-align: center;
       font-size: 24px;


    }
    .saltopagina1:hover{
        background-size: 100% 3px;
    }


    .dropdown{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .dropbtn{
        background-color: rgb(179, 179, 179);
        color: #666666;
        width: 250px;
        height: 30px;
        border-radius: 15px;
        border: none;
        outline: none;
        box-shadow: 0px 10px 20px 0.2px rgb(92, 0, 153, 0.1);
        font-family: 'Poppins', sans-serif;
        font-size: 18px;
        text-align: center;
        padding-left: 20px;
    }
    .drop-content{
        display: none;
        background-color: #aca9a9;
        margin-top: 8px;
        border-radius: 15px;
        color: white;
        flex-direction: column;
        box-shadow: 0px 0px 20px 0.2px rgb(92, 0, 153, 0.1);
        padding: 10px 0px;
    }
    
    .drop-content a{
        font-family: 'Poppins', sans-serif;
        text-align: left;
        padding: 10px 20px; 
        text-decoration: none;
        color: #2e004d;
        font-size: 18px;
        transition: all 0.5s ease;
    }
    
    .drop-content a:hover{
        background-color: #d699ff;
        color: white;
    }
    
    .dropdown:hover .drop-content{
        display: flex;
    }    

    .atras{

        color: white;
        font-weight: bold;
        font-family: 'Bebas Neue', cursive;
        font-size: 20px;
        text-align: left;
          
    }

    .edit{

        color: white;
        font-weight: bold;
        font-family: 'Bebas Neue', cursive;
        font-size: 10px;
        text-align: left;


    }


    .letra{
        color: white;
        font-weight: bold;
        font-family: 'Bebas Neue', cursive;
        font-size: 10px;
       font-size: small;


    }

    .li{
        color: white;
        font-weight: bold;
        font-family: 'Bebas Neue', cursive;
        font-size: 20px;
        
    list-style: disc;

    }


    .p { 

    font-size: xx-small;
   

    }

    .futer{
        text-align: center;
        font-family: 'Bebas Neue', cursive;
    }
    .futer h2{
        font-size: 20pxs;
    }
    
    .futer span{
        margin-right: 10px;
    }


    .futbol{

        text-align: center;
        font-size: 25px;
        margin-top: 30px;
        margin-bottom: 30px;
       
        color: rgb(104, 104, 104);
      

    }
    

   
    
    




 
       